body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

/* Nav section */
.navbar-dark .navbar-nav .nav-link {
  color: rgb(225, 115, 115);
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  letter-spacing: 0.2em;
  font-size: 0.9rem;
}

.navbar-brand img {
  width: 100%;
}
/* Hero Section */

#Hero-Section {
  background-image: url('../img/bg-hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand {
    width: 100px;
  }
}
@media (min-width: 768px) {
  .navbar-brand img {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: flex-end;
  }
  footer img {
    width: 20%;
  }
  h2 {
    font-size: 2rem;
  }
  .navbar-brand {
    width: 60%;
  }
  .navbar-brand img {
    width: 15%;
  }
}
