body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 150%;
}

/* Nav section */
.navbar-dark .navbar-nav .nav-link {
  color: #e35d6a;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  letter-spacing: 0.2em;
  font-size: 0.9rem;
}

.navbar-brand img {
  width: 50%;
}
.navbar-brand {
  width: 50%;
}
/* Hero Section */

#Hero-Section {
  background-image: url('../img/bg-hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  height: 70vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600 !important;
  line-height: 120%;
}
.btn-outline-info {
  border-color: #ffffff;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  letter-spacing: 0.2em;
  font-size: 0.8rem;
  border-radius: 50px;
  padding: 0.8rem 1.3rem;
}
.btn-info {
  background-color: #e35d6a;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  letter-spacing: 0.2em;
  font-size: 0.8rem;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 0.8rem 1.3rem;
}
.hero-btn-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }
}
@media (min-width: 768px) {
  .navbar-brand img {
    width: 25%;
  }
  .navbar-brand {
    width: 50%;
  }
  .hero-btn-group {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    row-gap: 1rem;
    column-gap: 1rem;
  }
  #Hero-Section {
    height: 80vh;
    padding: 8rem 5rem 5rem 5rem;
  }
  .btn-outline-info {
    font-size: 0.9rem;
    padding: 1rem 1.5rem;
  }
  .btn-info {
    font-size: 0.9rem;
    padding: 1rem 1.5rem;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: flex-end;
  }
  #Hero-Section {
    height: 65vh;
    padding: 8rem 5rem 5rem 5rem;
  }
  footer img {
    width: 20%;
  }
  h2 {
    font-size: 2rem;
  }
  .navbar-brand {
    width: 50%;
  }
  .navbar-brand img {
    width: 20%;
  }
}

@media (min-width: 992px) {
  #Hero-Section {
    height: 75vh;
    padding: 8rem 5rem 5rem 5rem;
  }
}
